<h2>Cars</h2>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>LPN</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Fuel</th>
      <th>Date of Man.</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let car of cars">
      <td><input type="checkbox" [(ngModel)]="selectedCars[car._id]" /></td>
      <td>
        <a
          title="Click to modify"
          [routerLink]="['/cars', car._id]"
          routerLinkActive="active"
          >{{ car.licensePlateNumber }}</a
        >
      </td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.modelName }}</td>
      <td>{{ car.fuelType }}</td>
      <td>{{ formatDate(car.dateOfManufacture) }}</td>
    </tr>
  </tbody>
</table>

<button (click)="deleteCars()">Delete cars</button>
