<header>
  <h1>Car Saloon</h1>

  <nav>
    <ng-container *ngIf="!auth.isLoggedIn()">
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </ng-container>

    <ng-container *ngIf="auth.isLoggedIn()">
      <a routerLink="/cars" routerLinkActive="active">Cars</a>
      <a routerLink="/cars/new" routerLinkActive="active">Add car</a>
      <a href="javascript:void(0)" (click)="logOut()">Log out</a>
    </ng-container>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
